<!-- Adapted from https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse#8398189 -->
<!-- Adapted from https://stackoverflow.com/questions/12168909/blob-from-dataurl -->
<html>
    <body onload="init()">
        <canvas id="can" width="400" height="400" style="border:2px solid;"></canvas>
        <br>
        <input type="button" value="Ajax Canvas Submit" id="btn" size="30" onclick="save()">
        <input type="button" value="Clear" id="clr" size="23" onclick="erase()">
        <br>
        <form id="myForm" action="/uploadimage" method="post" enctype="multipart/form-data">
            <input type="file" size="60" name="myfile">
            <input type="submit" value="Ajax File Submit">
        </form>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script> -->
    </body>
    <script type="text/javascript">

        var canvas, ctx, flag = false,
            prevX = 0,
            currX = 0,
            prevY = 0,
            currY = 0,
            dot_flag = false;
    
        var x = "black",
            y = 2;
        
        function init() {
            // $ = jQuery;
            canvas = document.getElementById('can');
            ctx = canvas.getContext("2d");
            w = canvas.width;
            h = canvas.height;
        
            canvas.addEventListener("mousemove", function (e) {
                findxy('move', e)
            }, false);
            canvas.addEventListener("mousedown", function (e) {
                findxy('down', e)
            }, false);
            canvas.addEventListener("mouseup", function (e) {
                findxy('up', e)
            }, false);
            canvas.addEventListener("mouseout", function (e) {
                findxy('out', e)
            }, false);
        }
        
        function draw() {
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
            ctx.lineTo(currX, currY);
            ctx.strokeStyle = x;
            ctx.lineWidth = y;
            ctx.stroke();
            ctx.closePath();
        }
        
        function erase() {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
        
        function save() {
            var dataURL = canvas.toDataURL("image/png");
            var blob = dataURItoBlob(dataURL);
            var formData = new FormData();
            formData.append('myfile',blob,'test.png');
            var request = new XMLHttpRequest();
            request.open("POST", "/uploadimage", true);
            request.send(formData);
            // $.ajax({
            //     type: 'POST',
            //     url: '/uploadimage',
            //     data:  formData,
            //     contentType: 'multipart/form-data',
            //     cache: false,
            //     processData: false,
            //     async: true,
            //     success: function(data) {
            //         console.log('Success!');
            //     },
            // });
        }

        function findxy(res, e) {
            if (res == 'down') {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
        
                flag = true;
                dot_flag = true;
                if (dot_flag) {
                    ctx.beginPath();
                    ctx.fillStyle = x;
                    ctx.fillRect(currX, currY, 2, 2);
                    ctx.closePath();
                    dot_flag = false;
                }
            }
            if (res == 'up' || res == "out") {
                flag = false;
            }
            if (res == 'move') {
                if (flag) {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;
                    draw();
                }
            }
        }
        function dataURItoBlob(dataURI) {
            // convert base64 to raw binary data held in a string
            // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
            var byteString = atob(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

            // write the bytes of the string to an ArrayBuffer
            var ab = new ArrayBuffer(byteString.length);

            // create a view into the buffer
            var ia = new Uint8Array(ab);

            // set the bytes of the buffer to the correct values
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            // write the ArrayBuffer to a blob, and you're done
            var blob = new Blob([ab], {type: mimeString});
            return blob;
        }
        </script>
    </html>