<!-- Adapted from https://stackoverflow.com/questions/27917471/pass-parameter-with-python-flask-in-external-javascript#27926189 -->

<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body>
        <h1 style="text-align:center">Digit recognision</h1>
        <p style="text-align:center">This is a digit recognision software based on MNIST data set and Tensorflow library</p>
        <p style="text-align:center">Prediction model is learning from user feedback</p>
        <p style="text-align:center">Please upload image of an digit or use canvas to draw one</p>
        <canvas id="can" width="280" height="280" style="border:2px solid; text-align:center"></canvas>
        <br>
        <input id="submitCanvas" type="button" value="Canvas Submit" size="30">
        <input id="clear" type="button" value="Clear"size="23">
        <br>
        <input type="file" size="60" name="fileSub">
        <input id="submitFile" type="button" value="Submit the file.">
        <div id="confirmBox" style="display:none;">
                <div class="message"></div>
                <button class="yes">Yes</button>
                <button class="no">No</button>
        </div>
        <div id="labelBox" style="display:none;">
                <div class="message"></div>
                <button id="b0">0</button>
                <button id="b1">1</button>
                <button id="b2">2</button>
                <button id="b3">3</button>
                <button id="b4">4</button>
                <button id="b5">5</button>
                <button id="b6">6</button>
                <button id="b7">7</button>
                <button id="b8">8</button>
                <button id="b9">9</button>
        </div>
    </body>
    <footer>
        <p>Contact information: <a href="mailto:G00328337@gmit.ie">G00328337@gmit.ie</a>.</p>
    </footer>
    </html>